<h2><%= @title %></h2>
<p>Hi <%= @user.full_name %>,</p>
<p>Your request for "<%= @reimbursement.title %>" has been processed and you should be receiving the funds in your specified account soon!</p>
<p>To check it out, just click <%= link_to "here", @url %>.</p>