<h2><%= @title %></h2>
<p>Hi <%= @user.full_name %>,</p>
<p>The contact for "<%= @contact.full_name %>" has been updated in the database.</p>
<p>To check it out, just click <%= link_to "here", @url %>.</p>