<h2><%= @title %></h2>
<p>Hi <%= @user.full_name %>,</p>
<p>A new contact "<%= @contact.full_name %>" has been added to the database.</p>
<p>To check it out, just click <%= link_to "here", @url %>.</p>