@import "bootstrap-sprockets";
@import "bootstrap";

.top-pad {
    margin-top: 3em;
}

.non-bold {
    font-weight: normal;
}

.panel-pi {
    border-color: #285aa3;
    .panel-heading {
        background-color: #285aa3;
        color: white;
    }
}

.bonus-pad {
    height: 0.7em;
}

.icon-font {
    font-size: 30px;
}

.squish {
    width: 30%;
    margin-left: 35%;
}

.td-fill-25 {
    width: 25%;
}

.footer-logo {
    background-image: image-url("sudologo.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 7vw;
    height: 7vw;
    margin-left: 46.5vw;
    margin-top: -13px
}

.navbar-inverse {
    background-color: #285aa3;
    border-color: #1C3D70;

    .navbar-brand {
        color: white;
        img {
            height: 40px;
            margin-top: -10px;
        }
    }
}

.bold {
    font-weight: 800;
}

ul  {
    li {
        a {
            color: white !important;
        }
    }
    li.active {
        a {
            background-color: #1C3D70 !important;
            color: #eacf48 !important;
        }
    }
}

.btn-selected {
    background-color: #D3D3D3;
}

.blue {
    background-color: #285aa3 !important;
}

.contact-table {
    width: 100%;
}

.bootstrap-spacing {
    margin-bottom: 10px;
}

.blue-hover:hover {
    background-color: #2b60ad !important;
    text-decoration: none;
}

.gold-text {
    color: #eacf48 !important;
}

.white-text {
    color: white !important;
}

.hero-img {
    background-color: #1C3D70;
    color: white;
}

.logo-big {
    height: 250px;
}

.logo-med {
    width: 100%;
}

.fa-icon {
    font-size: 200px;
}

.colour-instagram {
    color: #e95950;
}

.colour-facebook {
    color: #3b5998;
}

.colour-email {
    color: #dd4b39;
}

.colour-snapchat {
    color: #fffc00;
}

.fa-icon:hover {
    opacity: 0.9;
}

.pad-right {
    margin-right: 10px;
}

.reduced-top-margin {
    margin-top: 0px !important;
}

.popover-name {
    cursor: help;
}

.mobile-div {
    display: none;
}

@media (max-width: 991px) {
    .mobile-div {
        display: block;
    }
}
