@import "bootstrap-sprockets";
@import "bootstrap";

.top-pad {
    margin-top: 3em;
}

.non-bold {
    font-weight: normal;
}

.panel-pi {
    border-color: #285aa3;
    .panel-heading {
        background-color: #285aa3;
        color: white;
    }
}

.bonus-pad {
    height: 0.7em;
}

.squish {
    width: 30%;
    margin-left: 35%;
}

.navbar-inverse {
    background-color: #285aa3;
    border-color: #1C3D70;

    .navbar-brand {
        color: white;
        img {
            height: 40px;
            margin-top: -10px;
        }
    }
}

ul  {
    li {
        a {
            color: white !important;
        }
    }
    li.active {
        a {
            background-color: #1C3D70 !important;
            color: #eacf48 !important;
        }
    }
}

.blue {
    background-color: #285aa3 !important;
}

.gold-text {
    color: #eacf48 !important;
}

.white-text {
    color: white !important;
}
